.Hovr:hover {
    cursor: pointer;
}

.Hovr {
    display: flex;
	flex-direction: column;
	width: 2rem;
	height: 2rem;
	margin: 0px;
	align-items: center;
	justify-content: center;
}

.DropdownItem {
    right: -4rem;
    left: unset !important;
    top: 3rem !important ;
}

/* Buttons with className Hovr */
button.Hovr {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.pf-v5-c-data-list__cell {
	padding: 0rem !important;
}

.pf-v5-c-data-list__item-action {
    padding: 0.5rem !important;
}

.pf-v5-c-data-list__item-content {
	padding-bottom: 0.6rem !important;
	padding-top: 0.6rem !important;
}
.pf-v5-c-data-list__item-row {
    height: 3rem;
}

.pf-v5-c-data-list__action {
    align-self: center;
}

.pf-v5-c-menu__list {
    padding: 0.3rem;
}

.pf-v5-c-data-list.pf-m-grid-md {
    padding-left: 0rem;

}
/* Making cells not grow */
.pf-v5-c-data-list.pf-m-grid-md .pf-v5-c-data-list__cell+.pf-v5-c-data-list__cell {
    flex: 0 1;
    order: 0;
}

.PrimaryText {
    min-width: 30rem;
}

@media (max-width: 768px) {
    :root {
        --pf-v5-global--spacer--sm: 0.2rem !important;
    }
    .pf-v5-c-data-list * {
        --pf-v5-c-data-list__item--BorderBottomWidth: 0.2rem !important;
        --pf-v5-global--spacer--md: 0.3rem !important 
    }
    .pf-v5-c-data-list__item-content {
      display: flex !important;
      flex-direction: row !important;
    }
    .PrimaryText {
        min-width: 15rem;
    }
    .tinker-number-input {
        width: 6rem;
    }
  }
  