[Unit]
Description=TFC Configuration manager
Requires=confman.socket
After=confman.socket

[Service]
ExecStart=/usr/bin/myprogram
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
