[Unit]
Description=TFC Ethercat master
Requires=dbus.socket
After=dbus.socket
StartLimitBurst=5

[Service]
ExecStart=@CMAKE_INSTALL_PREFIX@/@CMAKE_INSTALL_BINDIR@/ethercat
StandardOutput=journal
StandardError=journal
LimitNOFILE=8192
User=tfc
AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN
Restart=always
RestartSec=1s
RuntimeDirectory=tfc
RuntimeDirectoryPreserve=yes
ConfigurationDirectory=tfc
PrivateTmp=true
# Cannot be set to full or strict, requires access to /etc/tfc to facilitate configuration changes
ProtectSystem=yes

[Install]
WantedBy=multi-user.target
