.alert-box {
   position: fixed;
   width: 30rem;
   z-index: 9999;
   top: 0;
   right: 1rem;
}

.pf-v5-c-alert {
   --pf-c-alert--PaddingTop: 0.6rem;
   --pf-c-alert--PaddingRight: 0.5rem;
   --pf-c-alert--PaddingBottom: 0.5rem;
   --pf-c-alert--PaddingLeft: 0.5rem;
}

.pf-v5-c-alert-group {
   --pf-c-alert-group__item--MarginTop: 0.3rem !important;
}

.pf-v5-c-alert__title {
   font-size: 0.8rem;
   font-weight: normal;
}